.home-card .home-card-content {
  padding: 30px 10px 0px 10px; 
}

.home-card-content {
  padding: 30px 10px 30px 10px;
  text-align: center;
  background-color: #662219;
  color:gray;  
}


.home-card {
  background-color: #662219;
  color:gray;  
}

.post-meta {
    font-size: xx-small;
}

.home-card {
  margin-bottom: 5%;
}

.post-link {
  font-weight: bold;
}

.post-link:hover {
    text-decoration: none;
}

.blog-post-img {
  padding:0px;
  margin-bottom: 0px;
  margin: 0px;
  padding:29.5px;
  opacity: 0.7;
  filter: alpha(opacity=40); /* msie */  
}

.sub-title {
  font-size: small;
}

