/*!==============================
 * Global CSS
 
    h1              { font-size: 2em; margin: .67em 0 }
    h2              { font-size: 1.5em; margin: .75em 0 }
    h3              { font-size: 1.17em; margin: .83em 0 }
    h4              { margin: 1.12em 0 }
    h5              { font-size: .83em; margin: 1.5em 0 }
    h6              { font-size: .75em; margin: 1.67em 0 }
 */
@font-face {
  font-family: "Fira Code";
  src: url(../fonts/fira-code/eot/FiraCode-Light.eot);
  src: url(../fonts/fira-code/eot/FiraCode-Light.eot)
      format("embedded-opentype"),
    url(../fonts/fira-code/woff2/FiraCode-Light.woff2) format("woff2"),
    url(../fonts/fira-code/woff/FiraCode-Light.woff) format("woff"),
    url(../fonts/fira-code/ttf/FiraCode-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: existencelight;
  src: url(../fonts/existence-light/Existence-Light-webfont.eot);
  src: url(../fonts/existence-light/Existence-Light-webfont.eot?#iefix)
      format("embedded-opentype"),
    url(../fonts/existence-light/Existence-Light-webfont.woff) format("woff"),
    url(../fonts/existence-light/Existence-Light-webfont.ttf) format("truetype"),
    url(../fonts/existence-light/Existence-Light-webfont.svg#existencelight)
      format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: typicons;
  src: url(../fonts/typicons/typicons.eot);
  src: url(../fonts/typicons/typicons.eot?#iefix) format("embedded-opentype"),
    url(../fonts/typicons/typicons.woff) format("woff"),
    url(../fonts/typicons/typicons.ttf) format("truetype"),
    url(../fonts/typicons/typicons.svg#typicons) format("svg");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

$my-color: #e24c38;
$my-color-2: #662219;

body,
html {
  height: 100%;
  overflow-x: hidden;
  background-color: #ddd;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: "Fira Code", sans-serif;
  background-color: #faf6ec;
}

img {
  max-width: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 1250px;
  }
}

.font_small {
	font-size: 0.707em;
}
small {
	font-size: 0.707em;
}
figure {
	margin-bottom: 1.3em;
}
ol {
	margin-bottom: 1.3em;
}
p {
	margin-bottom: 1.3em;
}

ul {
  list-style: none;
  padding: 0;
  list-style-type: none;
}

a {
	-webkit-transition: 0.3s all;
	transition: 0.3s all;
	color: #f4bd00;
	&:active {
		color: #000;
		text-decoration: none;
	}
	&:focus {
		color: #000;
		text-decoration: none;
	}
	&:hover {
		color: #000;
		text-decoration: none;
	}
}
a.hover-reverse {
	color: #000;
	&:active {
		color: #f4bd00;
		text-decoration: none;
	}
	&:focus {
		color: #f4bd00;
		text-decoration: none;
	}
	&:hover {
		color: #f4bd00;
		text-decoration: none;
	}
}