--- 
layout: default 
---

<div class="container-full home-page-intro-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
                <div class="home-intro">
                  <h1>Stephen Ó Connor <small>Web UI Dev</small></h1>
                  <p>It's me <span class="my-web-name">theWhiteFox</span> I design & build simple, fast, user friendly Web Apps by talking through ideas, finding solutions with shiny new tech. While designing & building I strive for the complexity of simplicity & the craftsmanship improvement method. Before I wrote code I studied art and I learned to cook, for me building an app is like cooking
                       a delicious meal from a recipe that I have created. My favorite food is sushi and what I understand with sushi is that simplicity is complex. When making my web apps
                        I keep simplicity in mind, however like great sushi it is an art and anything but simple. The complex art of
                        simplicity is what I am trying to master when I design and build my applications. <blockquote>Yoshikazu Ono: "Always look ahead and above yourself. Always try to improve on yourself. Always strive to elevate your craft."</blockquote></p>
                        <p>I also love to travel. In 2017 I travelled to India, I visited the north <a href="https://en.wikipedia.org/wiki/Himachal_Pradesh">Himachal Pradesh</a> and then the south <a href="https://en.wikipedia.org/wiki/Kerala">Kerala</a> for the month of October. For me travelling is a creative experience, especially to countries where the culture & food is completely different to what I know. </p>
                        <p>If you wanna talk about a project, please contact me <a href="mailto:ste@thewhitefox.ninja">ste@thewhitefox.ninja</a> or using my contact form below.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <div class="home-intro">
                    <div id="photo-header" class="text-center">
                        <!-- PHOTO (PROFILE) -->
                        <figure>                         
                                <img class="profile-pic" src="{{ "/img/profile.jpg" | relative_url }}" alt="avatar web ui dev">                         
                            <figcaption>
                                <a href="https://media-cdn.tripadvisor.com/media/photo-s/05/b1/38/a7/hanuman.jpg" alt="hanuman">Hanuman
                                    Temple</a><br> New Delhi <br> India 2017
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="contact-me"></a> 
<div class="container-full home-page-intro-container">
    <div class="container">
        <div class="row pb-3">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12">
                <form id="contact-form" method="POST" role="form">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_name">Firstname *</label>
                                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Please enter your firstname *" required="required"
                                        data-error="Firstname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_lastname">Lastname *</label>
                                    <input id="form_lastname" type="text" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required"
                                        data-error="Lastname is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_email">Email *</label>
                                    <input id="form_email" type="email" name="_replyto" class="form-control" placeholder="Please enter your email *" required="required"
                                        data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                    <input type="hidden" name="_subject" value="Website contact" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="form_need">Please specify your need *</label>
                                    <select id="form_need" name="need" class="form-control" required="required" data-error="Please specify your need.">
                                        <option value=""></option>
                                        <option value="Request quotation">Request quotation</option>
                                        <option value="Request order status">Request order status</option>
                                        <option value="Request copy of an invoice">Request copy of an invoice</option>
                                        <option value="Other">Other</option>
                                    </select>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="form_message">Message *</label>
                                    <textarea id="form_message" name="message" class="form-control" placeholder="Message for me *" rows="4" required="required"
                                        data-error="Please, leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <input type="submit" class="btn btn-success btn-send btn-sm" value="Send message">
                                <input type="hidden" name="_next" value="/thanks"/>
                                <input type="text" name="_gotcha" style="display:none" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-muted">
                                    <strong>*</strong> These fields are required.
                                </p>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
         
                    <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
                        
                            <p>I currently live in a suburb of Dublin.</p>
                        <iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d19036.268917643916!2d-6.400466191093393!3d53.38739381919957!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670d50ee37e783%3A0x2600c7a819ba6cc2!2sBlanchardstown%2C+Dublin!5e0!3m2!1sen!2sie!4v1536049361600"
                            width="100%" height="" frameborder="0" style="border:1" allowfullscreen></iframe>
                    
            </div>
        </div>
    </div>
</div>
