--- 
layout: default 
---

<div class="home-intro-title text-center">
        <h1>
            Stephen &Oacute; Connor <small>Web UI Developer</small>
        </h1>
        <hr>
</div>

<div class="container-full home-page-intro-container">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

 
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
                        <!-- WORK EXPERIENCE -->
                        <div class="box clearfix">
                            <h2>Work Experience</h2>
                          
                          
                            <div class="job clearfix">
                                <div class="col-xs-3">
                                    <div class="where">Kax Media Ltd.</div>
                                    <div class="year">Oct 18 - Present</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">Web UI Developer</div>
                                    <div class="description more">
                                     
                                        Independently managing and working as part of a team under Agile based dev cycles - estemation meetings, sprint & kanban tasks.
                                        <ol>
                                            <li> Improving, refactoring and rebuilding websites to MVC framework Laravel including our main site
                                                    <a href="http://gambling.com/">gambling.com</a> 
                                            </li>
                                            <li>Working with all teams including Marketing, UX, PPC teams </li>
                                            <li>Provide guidance and advice on best practices and future technologies</li>
                                            <li>Contribute to architecture, design, and technical direction</li>
                                            <li>Contribute clean, secure and maintainable code</li>
                                        </ol>
                                        <i class="fa fa-code"></i> Bootstrap 4
                                        <i class="fa fa-code"></i> jQuery
                                        <i class="fa fa-code"></i> JS
                                        <i class="fa fa-code"></i> PHP OOP
                                        <i class="fa fa-code"></i> Laravel
                                        <i class="fa fa-code"></i> Git
                                    </div>
                                </div>
                            </div>


                            <div class="job clearfix">
                                <div class="col-xs-3">
                                    <div class="where">Netcelero</div>
                                    <div class="year">June 16 - Feb 18</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">Web UI Developer</div>
                                    <div class="description more">
                                        Worked as part of a team under Agile / Scrum based dev cycles, continuous software development with SVN. Mainly Front End
                                        Development
                                        <ol>
                                            <li>Designed and deployed
                                                <a href="http://netcelero.com/">Netcelero.com</a>
                                            </li>
                                            <li>UI development for internal and customer facing systems using HTML, CSS,
                                                jQuery and Ajax
                                            </li>
                                            <li>UI development for Real-time data analytics using D3.js, PHP, jQuery</li>
                                            <li>Provide guidance and advice on best practices and future technologies</li>
                                            <li>Contribute to architecture, design, and technical direction</li>
                                            <li>Contribute clean, secure and maintainable code</li>
                                        </ol>

                                        <i class="fa fa-code"></i> HTML5
                                        <i class="fa fa-code"></i> CSS3
                                        <i class="fa fa-code"></i> JS
                                        <i class="fa fa-code"></i> Bootstrap
                                        <i class="fa fa-code"></i> jQuery
                                        <i class="fa fa-code"></i> AJAX JSON
                                        <i class="fa fa-code"></i> D3.js
                                        <i class="fa fa-code"></i> AngularJS
                                        <i class="fa fa-code"></i> PHP OOP
                                        <i class="fa fa-code"></i> SVN
                                        <i class="fa fa-code"></i> PhpStorm

                                    </div>
                                </div>
                            </div>

                            <div class="job clearfix">
                                <div class="col-xs-3">
                                    <div class="where">CDETB</div>
                                    <div class="year">May - Sept 15</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">.NET Tutor C# SQL</div>
                                    <div class="description more">Designed and delivered course content for City & Guilds
                                        Diploma level. Chose and installed .NET Framework with VS 2013 to tutor twenty students:
                                        <ol>
                                            <li>C#: Design & build a WinFoms App
                                                <a href="https://github.com/theWhiteFox/Software-Design-Fundamentals">
                                                    <i class="fa fa-github-alt"></i>
                                                </a>
                                            </li>
                                            <li>SQL: Build and query DB
                                                <a href="https://github.com/theWhiteFox/sql-fun">
                                                    <i class="fa fa-github-alt"></i>
                                                </a>
                                            </li>
                                            <li>C# & SQL: WinForms App DB connect
                                                <a href="https://github.com/theWhiteFox/csharp-db-app">
                                                    <i class="fa fa-github-alt"></i>
                                                </a>
                                            </li>
                                        </ol>

                                        <i class="fa fa-code"></i> C#
                                        <i class="fa fa-code"></i> SQL
                                        <i class="fa fa-code"></i> CRUD
                                        <i class="fa fa-code"></i> OOP
                                        <i class="fa fa-code"></i> Software Design
                                        <i class="fa fa-code"></i> VS 2013
                                        <i class="fa fa-code"></i> Git
                                        <i class="fa fa-code"></i> Agile
                                    </div>
                                </div>
                            </div>

                            <div class="job clearfix">
                                <div class="col-xs-3">
                                    <div class="where">Microsoft</div>
                                    <div class="year">May - Sept 13</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">Web UI Developer</div>
                                    <div class="description more">
                                        Xbox team. Excel to SQL Server Relational Database. Designed / built CMS to store & display Microsoft Art.
                                        <br>

                                        <i class="fa fa-code"></i> HTML5
                                        <i class="fa fa-code"></i> CSS3
                                        <i class="fa fa-code"></i> JavaScript
                                        <i class="fa fa-code"></i> SQL
                                        <i class="fa fa-code"></i> U.I Dev
                                        <i class="fa fa-code"></i> TFS
                                        <i class="fa fa-code"></i> ASPX
                                        <i class="fa fa-code"></i> C#
                                    </div>
                                </div>
                            </div>
                            <div class="job clearfix">
                                <div class="col-xs-3">
                                    <div class="where">OFP / BAPTEC /WnDC</div>
                                    <div class="year">Mar 12 - Apr 16</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">Freelance Web Developer</div>
                                    <div class="description more">
                                        Designed & Implemented complete site redesign - ecommerce. Hands on website & domain administration. Met with clients, discuss
                                        project - create mock-ups / wireframe developed site, format SQL data, train non-tech
                                        client on use of CMS.
                                        <a href="/">theWhiteFox.ninja</a>
                                        <br>

                                        <i class="fa fa-code"></i> PHP5
                                        <i class="fa fa-code"></i> MySQL
                                        <i class="fa fa-code"></i> HTML5
                                        <i class="fa fa-code"></i> CSS3
                                        <i class="fa fa-code"></i> Wordpress
                                        <i class="fa fa-code"></i> Zencart
                                        <i class="fa fa-code"></i> JavaScript
                                        <i class="fa fa-code"></i> Photoshop
                                        <i class="fa fa-code"></i> Mock-ups
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- EDUCATION -->
                        <div class="box clearfix">
                            <hr>
                            <h2>Education</h2>
                            <div class="course clearfix">
                                <div class="col-xs-3">
                                    <div class="year">Aug 2014</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">Griffith College: H Dip Computer Science</div>
                                </div>
                            </div>
                            <div class="course clearfix">
                                <div class="col-xs-3">
                                    <div class="year">Nov 2012</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">DIT: Bachelor Computer Science</div>
                                </div>
                            </div>
                            <div class="course clearfix">
                                <div class="col-xs-3">
                                    <div class="year">Jun 2002</div>
                                </div>
                                <div class="col-xs-9">
                                    <div class="profession">Ballyfermot College: H Dip 3d Animation</div>
                                </div>
                            </div>

                            <!-- COURSES -->
                            <div class="box clearfix">
                                <hr>
                                <h2 class="courses">Courses</h2>
                                <div class="course clearfix">
                                    <div class="col-xs-3">
                                        <div class="year">Dec 2015</div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="profession">OCA, Java SE 8 Programmer I</div>
                                    </div>
                                </div>
                                <div class="course clearfix">
                                    <div class="col-xs-3">
                                        <div class="year">Jun 2013</div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="profession">Web Dev & Database Management</div>
                                    </div>
                                </div>
                                <div class="course clearfix">
                                    <div class="col-xs-3">
                                        <div class="year">Aug 2012</div>
                                    </div>
                                    <div class="col-xs-9">
                                        <div class="profession">FETAC Level 6, Train the Trainer</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="box clearfix">
                            <hr>
                            <h2 class="courses">Projects</h2>
                               <p>My new site
                                    <a href="https://thewhitefox.netlify.com/">https://thewhitefox.netlify</a> 
                           
      <i class="fa fa-code"></i> React
                                    <i class="fa fa-code"></i> Gatsby
                                    <i class="fa fa-code"></i> Netlify
                                    <i class="fa fa-code"></i> HTML5
                                    <i class="fa fa-code"></i> CSS3
                                    <i class="fa fa-code"></i> ES6
                                    <i class="fa fa-code"></i> SASS
                                    <i class="fa fa-code"></i> Bootstrap v4.1
                                    <i class="fa fa-code"></i> SVG
                                    <i class="fa fa-code"></i> NPM
                                    <i class="fa fa-code"></i> GitHub
                                </p>
                            <p>My old site
                                <a href="http://thewhitefox.ninja/">theWhiteFox.ninja</a> code is on
                                <a href="https://github.com/theWhiteFox/theWhiteFox">GitHub</a>
                                <br>

                                <i class="fa fa-code"></i> HTML5
                                <i class="fa fa-code"></i> CSS3
                                <i class="fa fa-code"></i> ES6
                                <i class="fa fa-code"></i> SASS
                                <i class="fa fa-code"></i> Bootstrap v4.1                        
                                <i class="fa fa-code"></i> jekyll
                                <i class="fa fa-code"></i> Ruby
                                <i class="fa fa-code"></i> jQuery
                                <i class="fa fa-code"></i> SVG
                                <i class="fa fa-code"></i> Gulp
                                <i class="fa fa-code"></i> npm
                                <i class="fa fa-code"></i> GitHub Pages
                            </p>
                            <p>
                                <a href="https://thewhitefox.github.io/learn-angularJS">Angular 6</a> code is on
                                <a href="https://github.com/theWhiteFox/learn-angularJS">GitHub</a>
                                <br>
    
                                <i class="fa fa-code"></i> Angular 6
                                <i class="fa fa-code"></i> Bootstrap v4.1                           
                               </p>  
                            <p>
                            <a href="https://thewhitefox.github.io/learn-angularJS">AngularJS</a> code is on
                            <a href="https://github.com/theWhiteFox/learn-angularJS">GitHub</a>
                            <br>

                            <i class="fa fa-code"></i> AngularJS 1.7
                            <i class="fa fa-code"></i> JS(ES6)
                            <i class="fa fa-code"></i> Ruby
                            <i class="fa fa-code"></i> Phyton
                            <i class="fa fa-code"></i> Bootstrap
                            <i class="fa fa-code"></i> HTML
                            <i class="fa fa-code"></i> CSS
                           </p>       
                            <p>
                                Tutor Software Design Fundamentals in C# code is on
                                <a href="https://github.com/theWhiteFox/Software-Design-Fundamentals">GitHub</a>
                                <br>

                                <i class="fa fa-code"></i> C#
                                <i class="fa fa-code"></i> Basic Programming
                                <i class="fa fa-code"></i> Design
                                <i class="fa fa-code"></i> ClI
                                <i class="fa fa-code"></i> Basic OOP
                                <i class="fa fa-code"></i> Git
                            
                                <p>
                                    <a href="http://thewhitefox.github.io/Angular-Fundamentals/#/main"> Search and Display
                                        GitHub User AngularJS</a> code is on
                                    <a href="https://github.com/theWhiteFox/Angular-Fundamentals">GitHub</a>
                                    <br>

                                    <i class="fa fa-code"></i> AngularJS
                                    <i class="fa fa-code"></i> HTML
                                    <i class="fa fa-code"></i> CSS
                                    <i class="fa fa-code"></i> GitHub Pages                                  
                                </p>
                         
                            <a href="http://d3charts.azurewebsites.net/index.html"> D3.js Charts Bootstrap</a> code is on
                            <a href="https://github.com/theWhiteFox/D3-Charts">GitHub</a>
                            <br>
                            <i class="fa fa-code"></i>D3.js JavaScript library
                            <i class="fa fa-code"></i> Bootstrap front-end Framework
                            <i class="fa fa-code"></i> HTML
                            <i class="fa fa-code"></i> CSS
                            <i class="fa fa-code"></i> Azure

                        </div>
                        <hr>
                    </div>

                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                        <!-- CONTACT / SOC -->
                        <div class="row">
                            <div class="col-6">
                                <div class="box clearfix contact-soc">
                                    <h2>Contact</h2>
                                    <a href="/about/#contact-me" class="fa fa-envelope-o fa-lg"></a>
                                    <a href="https://ie.linkedin.com/in/thewhitefox" class="fa fa-linkedin fa-lg"></a>
                                    <a id="meetup-icon" href="https://www.meetup.com/members/201074246/"> <img src="/img/meetup-brands.svg"
                                            alt="" width="22px" height="22px" class="meetup-icon"></a>
                                    <a href="http://stackoverflow.com/users/5619088/thewhitefox?tab=profile" class="fa fa-stack-overflow fa-lg"></a>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="box clearfix contact-soc">
                                    <h2>Social</h2>
                                    <!-- github -->
                                    <a href="https://github.com/thewhitefox" class="fa fa-github-alt fa-lg"></a>
                                    <a href="https://twitter.com/steTheWhiteFox" class="fa fa-twitter fa-lg"></a>
                                    <a href="https://soundcloud.com/stephen-o-connor-887369249" class="fa fa-soundcloud fa-lg"></a>
                                    <a href="https://medium.com/@steTheWhiteFox" class="fa fa-medium fa-lg"></a>
                                </div>
                            </div>
                        </div>

                        <!-- SKILLS -->
                        <div id="" class="box clearfix">
                            <hr>
                            <h2>Skills</h2>
                            <div class="skillbar clearfix " data-percent="70%">
                                <span id="tooltiptext1">Web Development</span>
                                <div class="skillbar-title" style="background: #d35400;">
                                    <span>HTML5&CSS3</span>
                                </div>
                                <div class="skillbar-bar" style="background: #e67e22;"></div>
                                <div class="skill-bar-percent">70%</div>
                            </div>
                            <!-- End Skill HTML5 CSS3 Bar -->

                            <div id="skill-more-es6" class="skillbar clearfix " data-percent="65%">
                                <span id="tooltiptext2">JavaScript ECMAScript 6</span>
                                <div class="skillbar-title" style="background: #2980b9;">
                                    <span>JS(ES6)</span>
                                </div>
                                <div class="skillbar-bar" style="background: #3498db;"></div>
                                <div class="skill-bar-percent">65%</div>
                            </div>
                            <!-- End Skill JS Bar -->

                            <div id="skill-more-bs" class="skillbar clearfix " data-percent="65%">
                                <span id="tooltiptext3">Responsive, Mobile-First </span>
                                <div class="skillbar-title" style="background: #259286;">
                                    <span>Bootstrap3/4</span>
                                </div>
                                <div class="skillbar-bar" style="background: #2fbbab;"></div>
                                <div class="skill-bar-percent">65%</div>
                            </div>
                            <!-- End Skill Bootstrap Bar -->

                            <div id="skill-more-jq" class="skillbar clearfix " data-percent="65%">
                                <span id="tooltiptext4">JS Library </span>
                                <div class="skillbar-title" style="background: #46465e;">
                                    <span>jQuery</span>
                                </div>
                                <div class="skillbar-bar" style="background: #5a68a5;"></div>
                                <div class="skill-bar-percent">65%</div>
                            </div>
                            <!-- End Skill jQuery Bar -->

                            <div id="skill-more-d3" class="skillbar clearfix " data-percent="55%">
                                <span id="tooltiptext5">D3.js - Data-Driven Documents </span>
                                <div class="skillbar-title" style="background: #C61C6F
                            ;">
                                    <span>D3</span>
                                </div>
                                <div class="skillbar-bar" style="background: #e54995;"></div>
                                <div class="skill-bar-percent">55%</div>
                            </div>
                            <!-- End Skill D3 Bar -->

                            <div class="skillbar clearfix " data-percent="50%">
                                <div class="skillbar-title" style="background: #708284;">
                                    <span>SQL</span>
                                </div>
                                <div class="skillbar-bar" style="background: #98a6a8;"></div>
                                <div class="skill-bar-percent">50%</div>
                            </div>
                            <!-- End Skill SQL Bar -->

                            <div id="skill-more-mvc" class="skillbar clearfix " data-percent="50%">
                                <span id="tooltiptext9">JavaScript Framework</span>
                                <div class="skillbar-title" style="background: #819090;">
                                    <span>Angular1/6</span>
                                </div>
                                <div class="skillbar-bar" style="background: #aab4b4;"></div>
                                <div class="skill-bar-percent">50%</div>
                            </div>
                            <!-- End Skill Angular Bar -->

                            <div id="skill-more-paas" class="skillbar clearfix " data-percent="60%">
                                <span id="tooltiptext7">Platform as a Service</span>
                                <div id="skill-more" class="skillbar-title" style="background: #007fff;">
                                    <span>PaaS</span>
                                </div>
                                <div class="skillbar-bar" style="background: #4da5ff;"></div>
                                <div class="skill-bar-percent">60%</div>
                            </div>
                            <!-- End Skill PaaS Bar -->

                            <div class="skillbar clearfix " data-percent="55%">
                                <div class="skillbar-title" style="background: #cccc00;">
                                    <span>PHP</span>
                                </div>
                                <div class="skillbar-bar" style="background: #e6e600;"></div>
                                <div class="skill-bar-percent">55%</div>
                            </div>
                            <!-- End Skill PHP Bar -->

                            <div id="skill-more-sass" class="skillbar clearfix " data-percent="30%">
                                <span id="tooltiptext10">Syntactically awesome CSS</span>
                                <div class="skillbar-title" style="background: #502c3e;">
                                    <span>SASS</span>
                                </div>
                                <div class="skillbar-bar" style="background: #476481;"></div>
                                <div class="skill-bar-percent">30%</div>
                            </div>
                            <!-- End Skill SASS Bar -->

                            <div id="skill-more-git" class="skillbar clearfix " data-percent="75%">
                                <span id="tooltiptext11">Revision Control System</span>
                                <div class="skillbar-title" style="background: #BD3613;">
                                    <span> GIT</span>
                                </div>
                                <div class="skillbar-bar" style="background: #ea5832;"></div>
                                <div class="skill-bar-percent">75%</div>
                            </div>
                            <!-- End Skill GIT Bar -->

                            <div id="skill-more-cli" class="skillbar clearfix " data-percent="45%">
                                <span id="tooltiptext12">Powershell Terminator</span>
                                <div class="skillbar-title" style="background: #738A05;">
                                    <span> CLI</span>
                                </div>
                                <div class="skillbar-bar" style="background: #9cbb07;"></div>
                                <div class="skill-bar-percent">45%</div>
                            </div>
                            <!-- End Skill CLI Bar -->

                            <div id="skill-more-ps" class="skillbar clearfix " data-percent="70%">
                                <span id="tooltiptext13">PhotoShop and Illustrator</span>
                                <div class="skillbar-title" style="background: #D11C24;">
                                    <span>PS&AI</span>
                                </div>
                                <div class="skillbar-bar" style="background: #e53b43;"></div>
                                <div class="skill-bar-percent">70%</div>
                            </div>
                            <!-- End Skill PS Illustrator Bar -->
                        </div>
                        <!-- End Skill Div -->

                        <div class="skills-legend clearfix">
                            <div class="legend-left legend">Junior</div>
                            <div class="legend-centre legend">
                                <span>Intermediate</span>
                            </div>
                            <div class="legend-right legend">Ninja</div>
                        </div>
                        <div class="box clearfix">
                            <br>
                            <hr>
                            <h2>Hobbies</h2>
                            <div align="center">
                                <div class="hobby">
                                    <i class="fa fa-paint-brush"></i> Art</div>
                                <div class="hobby">
                                    <i class="fa fa-cog fa-spin"></i> Cycle</div>
                                <div class="hobby">
                                    <i class="fa fa-life-ring"></i> Swim</div>
                                <div class="hobby">
                                    <i class="fa fa-map"></i> Hike</div>
                                <div class="hobby">
                                    <i class="fa fa-gamepad"></i> Xbox</div>
                            </div>
                        </div>
                        <div align="center" class="no-print">
                            <i class="fa fa-print" aria-hidden="true"></i>                            
                            <a href="{{ "/img/StephenOConnorCV.pdf" | relative_url }}"> Google print pdf of these pages </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
