      .lines {
        fill: #FFF;
        stroke: #FFF;
        stroke-miterlimit: 10;
      }
      
       @keyframes fadeIn {
        0% {
          opacity: 0;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }  
       
      /*@-moz-keyframes fadeIn {
        0% {
          -moz-opacity: 0.0;
        }
        50% {
          -moz-opacity: 0.0;
        }
        100% {
          -moz-opacity: 1.0;
        }
      }*/
      
      
      #fox01 .lines {
     
        /*-moz-animation-name: fadeIn 2s ease-in 1s;
        -moz-animation-fill-mode: forwards;
        -moz-transition: fill .4s ease;
        ms-animation: fadeIn 2s ease;
        --> <!---o-animation: fadeIn 2s ease;
        --> */
        animation: fadeIn 2s ease;        
      }
      
      #fox02 .lines {
        /*<!---webkit-animation: fadeIn 4s ease;
        --> -moz-animation-name: fadeIn 4s ease;
        <!---ms-animation: fadeIn 4s ease;
        -o-animation: fadeIn 4s ease;
        --> */
        animation: fadeIn 4s ease;
      }
      
      #fox03 .lines {
        /*<!--webkit-animation: fadeIn 6s ease;
        --> -moz-animation-name: fadeIn 6s ease;
        <!---ms-animation: fadeIn 6s ease;
        -o-animation: fadeIn 6s ease;
        --> */
        animation: fadeIn 6s ease;
      }
      
      #fox04 .lines {
        /*<!--webkit-animation-name: fadeIn 8s ease;
        --> -moz-animation-name: fadeIn 8s ease;
        <!---ms-animation: fadeIn 8s ease;
        -o-animation: fadeIn 8s ease;
        --> */
        animation: fadeIn 8s ease;
      }
/*      
      @-webkit-keyframes fadeIn {
        0% {
          opacity: 0;
        }
        50% {
          -webkit-opacity: 0;
        }
        100% {
          -webkit-opacity: 1;
        }
      }*/